html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #13151f;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-video {
  position: relative;
  left: 50%;
  height: 30vh;
  width: 100vw;
  overflow: hidden;
  margin-bottom: 50px;
  transform: translate(-50%, -0%);
}

.banner {
  width: 100vw;
}

.app {
  margin: 20px;
}

.card {
  height: 100%;
  width: 20vw;
  border-radius: 5%;
  margin: 5px;
  filter: drop-shadow(5px 5px 10px #000);
}

.main-video img {
  width: 100%;
  
}

.video-feed img {
  height: 30vh;
  width: auto;
  max-width: 200px;
}